.card__taste {
  font-weight: 700;
  color: var(--font-black);
  font-size: 24px;
  line-height: 1.16;
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
