.card {
  background: linear-gradient(135deg, transparent 30px, var(--blue-color) 0) top
    left;
  font-family: var(--basic-font);
  font-style: normal;
  height: calc(480px - var(--card-border-width) * 2);
  width: calc(320px - var(--card-border-width) * 2);
  border-radius: 12px;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--card-border-width);
  box-sizing: content-box;
  transition: transform 0.3s ease;
}

.card::before {
  content: "";
  display: block;
  position: absolute;
  top: var(--card-border-width);
  left: var(--card-border-width);
  height: calc(100% - var(--card-border-width) * 2);
  width: calc(100% - var(--card-border-width) * 2);
  border-radius: 12px;
  background: linear-gradient(135deg, transparent 30px, var(--card-bg) 0) top
    left;
  z-index: -1;
}

.card:hover {
  transform: translateY(-2%);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .card:hover {
    transform: translateY(-2%);
    cursor: pointer;
  }
}
