.card_disabled {
  background: linear-gradient(135deg, transparent 30px, var(--disabled-color) 0)
    top left;
  pointer-events: none;
}

.card_disabled .card__circle {
  background-color: var(--disabled-color);
}

.card_disabled .card__title {
  color: var(--disabled-color);
}

.card_disabled .card__dynamic-title {
  color: var(--disabled-color);
}

.card_disabled .card__taste {
  color: var(--disabled-color);
}
.card_disabled .card__specs {
  color: var(--disabled-color);
}
