:root {
  --font-black: #000;
  --font-grey: #666;
  --font-light: #fff;
  --card-bg: #fff;
  --blue-color: #2ea8e6;
  --pink-color: #d91667;
  --main-title-font: "Exo2.0-Thin", Arial, sans-serif;
  --basic-font: "Trebuchet", Arial, sans-serif;
}
